<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores, ad animi assumenda nisi corporis recusandae inventore deserunt? Quis necessitatibus ducimus doloremque accusamus voluptatum velit animi mollitia recusandae nihil cum?</p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(81)98951-3203</li>
                <li><i class="fa-brands fa-whatsapp"> </i>(81)98951-3203 </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
